@media only screen and (max-width: 1900px) {
  .footer .contentBox {
    width: 65vw;
  }
}
@media only screen and (max-width: 1400px) {
  .footer .contentBox {
    width: 75vw;
  }
}
@media only screen and (max-width: 1200px) {
  .footer .contentBox {
    width: 87vw;
  }
}

@media (max-width: 992px) {
  .footer .contentBox {
    width: 15rem;
  }
  .footer .rectangleDiv .rectangleBot {
    bottom: -20rem;
  }
  .footer {
    height: fit-content;
  }
  .footer .contentBox .iconBox {
    padding-right: 6rem;
  }
}
