@media only screen and (max-width: 1700px) {
  .container-title .title {
    top: 0.5rem;
  }
  .container-title .rectangle-line {
    top: 7rem;
  }
  .social-icon a {
    margin: 0 6rem;
  }
}
@media only screen and (max-width: 1500px) {
  .social-icon a {
    margin: 0 4rem;
  }
  .banner .mainTitle {
    top: 3em;
  }
  section .team .row {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 1400px) {
  .banner .mainTitle {
    top: 4em;
  }
  .container-large {
    width: fit-content;
    margin: 0;
    padding: 0;
  }
  .menuToggle {
    margin-top: 0rem;
  }

  section .team .col-text {
    margin: 6rem auto auto auto;
  }
}
@media only screen and (min-width: 1200px) {
  .container-large {
    width: 100vw;
    margin: 0;
    padding: 0;
  }
}
@media only screen and (max-width: 1200px) {
  .banner .mainTitle {
    top: 10em;
  }
  .banner .mainTitle h2 {
    margin: 5rem 0 5rem 0;
    font-size: 5rem;
  }
  .banner .mainTitle p {
    font-size: 1.3rem;
    margin-bottom: 5rem;
  }
  /* title */
  .container-title .title {
    width: 40rem;
    top: -1.3rem;
  }
  .container-title .title h2 {
    letter-spacing: -0.2rem;
    font-size: 3rem;
    font-weight: 900;
  }
  .container-title .rectangle-line {
    border: 0.15rem solid var(--clr-white);
    width: 7rem;
    height: auto;
    background-color: white;
    top: 4.2rem;
  }
  /* social-icons */
  .social-icons {
    width: fit-content;
    position: absolute;
    top: 7rem;
  }
  .social-icon {
    margin-top: 0;
  }
  .social-icon a {
    width: 2.75rem;
    height: 2.75rem;
    font-size: 1.6rem;
    margin: 0 4rem;
  }
}
@media only screen and (max-width: 1200px) {
  .container-large {
    padding-right: 0;
  }
}
@media (max-width: 992px) {
  .container-large {
    width: fit-content;
    margin: 0;
    padding: 0;
  }
  .banner {
    background-position: center;
  }
  .banner .mainTitle h2 {
    margin-top: 15rem;
  }
  /* title */
  .container-title .title {
    width: 10rem;
  }
  /* social-icons */
  .social-icon {
    margin-top: 0rem;
  }
  header,
  header.sticky {
    padding: 10px 20px;
  }
  header .navigation {
    display: none;
  }
  header .navigation.active {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fcfcfc;
  }
  header .navigation li {
    margin-left: 0;
  }
  header .navigation li a {
    text-decoration: none;
    color: #111;
    font-size: 1.6em;
    font-weight: 300;
  }
  .menu-button {
    display: inline-block;
  }
  .mobile-menu {
    display: block;
  }
  .menuDiv {
    display: none !important;
  }
  /* .header {
    position: relative;
    padding: 0px 15px;
  } */
  .header .menu {
    display: none;
    width: 100%;
    top: 100%;
    left: 0;
    position: absolute;
    padding: 10px 0;
    background-color: #1e1e1e;
  }
  .header .menu li {
    display: block;
    padding: 10px 0;
    margin-right: 15px;
    margin-left: 15px;
  }
  .header .menu li a {
    color: #040404;
    font-size: 14px;
  }
  .menuToggle {
    position: relative;
    width: 40px;
    height: 40px;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    margin-left: -0.75rem;
    margin-top: -2rem;
  }
  .menuToggle.active {
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
  header.sticky .menuToggle {
    filter: invert(1);
  }
  .container-title .title {
    top: -2rem;
  }
  .container-title .rectangle-line {
    top: 4rem;
  }
  .social-icon a {
    margin: 0 1rem;
  }
  section .creative .images {
    left: 0rem;
    opacity: 0.75;
  }
  section .creative .images .img1 {
    opacity: 0;
  }
  .container-rectangle2 {
    left: 12rem;
  }
  section .team .col-text {
    margin: 6rem auto auto 2rem;
  }
}
@media (max-width: 790px) {
  section .gallery .row .imgContainer {
    width: 76rem !important;
  }
  section .gallery .col-text {
    margin: 4rem 70rem 0 3rem;
  }
}
@media (max-width: 650px) {
  .banner .mainTitle {
    top: 3em;
  }
  section .creative .col-text,
  section .team .col-text,
  section .gallery .col-text {
    margin: 4rem 70rem 0 5rem;
  }
  section .gallery .col-text {
    margin: 4rem 70rem 0 2rem !important;
  }
  section .creative .col-text h2,
  section .team .col-text h2,
  section .gallery .col-text h2 {
    font-size: 3rem;
  }
  section .creative .col-text .separator {
    width: 9rem;
  }
  section .creative .col-text p,
  section .gallery .col-text p {
    font-size: 1.2rem;
  }
  section .creative .images {
    left: -10rem;
    opacity: 0.75;
  }
  .container-rectangle2 {
    left: 0rem;
  }
  section .creative .col-text .btn {
    z-index: 50;
  }
}
@media (max-width: 550px) {
  .banner .mainTitle {
    top: 4em;
  }
  .banner .mainTitle h2 {
    font-size: 3rem;
    margin-bottom: 4rem;
  }
  .banner .mainTitle p {
    font-size: 1.5rem;
  }
  .container-large {
    width: fit-content;
    margin: 0;
    padding: 0;
  }
  .menuToggle {
    margin-top: 0rem;
  }
  section .team .col-text {
    margin: 6rem auto -3rem 2rem;
  }
  section .gallery {
    height: fit-content;
  }
  section .gallery .row .imgContainer {
    display: none;
  }
  section .gallery .col-text {
    width: 16rem !important;
    margin-bottom: 3rem!;
  }
  section .gallery .col-text .btn {
    margin-bottom: 3rem !important;
  }
}
@media (max-width: 400px) {
  section .banner {
    height: 170vh;
  }
  section .creative .col-text {
    margin: 3rem 70rem 0 3rem;
  }
  section .creative .col-text h2 {
    font-size: 2.85rem;
  }
  section .creative .col-text .separator {
    width: 9rem;
  }
  section .creative .col-text p {
    font-size: 1.2rem;
  }
}
