@media only screen and (max-width: 1700px) {
  .container-title .title {
    top: 0.5rem;
  }
  .container-title .rectangle-line {
    top: 7rem;
  }
  .social-icon a {
    margin: 0 6rem;
  }
  .services .row .contentBox .contentItem {
    padding: 0 1rem;
  }
  .services .row .imgDiv {
    height: fit-content;
  }
}
@media only screen and (max-width: 1550px) {
  .services .row .col-text {
    margin: 6rem 2rem 6rem 1rem;
  }
  .services .row .contentBox {
    transform: translate(0);
  }
  .testimonials .col1 {
    margin-left: 0.1rem;
  }
}
@media only screen and (max-width: 1500px) {
  .social-icon a {
    margin: 0 4rem;
  }
  .banner .mainTitle {
    top: 3em;
  }
  section .team .row {
    display: flex;
    justify-content: center;
  }
  section .chooseUs .row {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }
  section .chooseUs .row .imgDiv {
    display: flex;
    justify-content: center;
  }
  section .chooseUs .row .col-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width: 1400px) {
  .banner .mainTitle {
    top: 4em;
  }
  .container-large {
    width: fit-content;
    margin: 0;
    padding: 0;
  }
  .menuToggle {
    margin-top: 0rem;
  }

  section .team .col-text {
    margin: 6rem auto auto auto;
  }
  .footer .contentBox {
    width: 75vw;
  }
}
@media only screen and (min-width: 1200px) {
  .container-large {
    width: 100vw;
    margin: 0;
    padding: 0;
  }
}
@media only screen and (max-width: 1200px) {
  .banner .mainTitle {
    top: 10em;
  }
  .banner .mainTitle h2 {
    margin: 5rem 0 5rem 0;
    font-size: 5rem;
  }
  .banner .mainTitle p {
    font-size: 1.3rem;
    margin-bottom: 5rem;
  }
  /* title */
  .container-title .title {
    width: 40rem;
    top: -1.3rem;
  }
  .container-title .title h2 {
    letter-spacing: -0.2rem;
    font-size: 3rem;
    font-weight: 900;
  }
  .container-title .rectangle-line {
    border: 0.15rem solid var(--clr-white);
    width: 7rem;
    height: auto;
    background-color: white;
    top: 4.2rem;
  }
  /* social-icons */
  .social-icons {
    width: fit-content;
    position: absolute;
    top: 7rem;
  }
  .social-icon {
    margin-top: 0;
  }
  .social-icon a {
    width: 2.75rem;
    height: 2.75rem;
    font-size: 1.6rem;
    margin: 0 4rem;
  }
  .footer .contentBox {
    width: 80vw;
  }
  .services .row .col-text h2 {
    font-size: 3.2rem;
  }
  .services .row .col-text p {
    width: 12rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media only screen and (max-width: 1200px) {
  .container-large {
    padding-right: 0;
  }
}
@media only screen and (max-width: 1105px) {
  .services .row .col-text {
    margin: 3rem auto;
    flex: 0 0 auto;
    align-items: center !important;
  }
  .services .row .col-text h2 {
    text-align: center;
  }
  .services .row .col-text p {
    text-align: center;
  }
  .services .row .btn {
    margin-right: 2rem;
  }
  .testimonials .col1 {
    width: fit-content;
    /* display: flex;
    justify-content: flex-end !important;
    align-items: flex-end; */
  }
  .footer .contentBox {
    width: 95vw;
  }
  /* section .creative {
    height: 65vh;
  }
  .fixer {
    height: 65vh;
  } */
}
@media (max-width: 992px) {
  .container-large {
    width: fit-content;
    margin: 0;
    padding: 0;
  }
  .banner {
    background-position: center;
  }
  .banner .mainTitle h2 {
    margin-top: 15rem;
  }
  /* title */
  .container-title .title {
    width: 10rem;
  }
  /* social-icons */
  .social-icon {
    margin-top: 0rem;
  }
  header,
  header.sticky {
    padding: 10px 20px;
  }
  header .navigation {
    display: none;
  }
  header .navigation.active {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fcfcfc;
  }
  header .navigation li {
    margin-left: 0;
  }
  header .navigation li a {
    text-decoration: none;
    color: #111;
    font-size: 1.6em;
    font-weight: 300;
  }
  .menu-button {
    display: inline-block;
  }
  .mobile-menu {
    display: block;
  }
  .menuDiv {
    display: none !important;
  }
  /* .header {
    position: relative;
    padding: 0px 15px;
  } */
  .header .menu {
    display: none;
    width: 100%;
    top: 100%;
    left: 0;
    position: absolute;
    padding: 10px 0;
    background-color: #1e1e1e;
  }
  .header .menu li {
    display: block;
    padding: 10px 0;
    margin-right: 15px;
    margin-left: 15px;
  }
  .header .menu li a {
    color: #040404;
    font-size: 14px;
  }
  .menuToggle {
    position: relative;
    width: 40px;
    height: 40px;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    margin-left: -0.75rem;
    margin-top: -2rem;
  }
  .menuToggle.active {
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
  header.sticky .menuToggle {
    filter: invert(1);
  }
  .container-title .title {
    top: -2rem;
  }
  .container-title .rectangle-line {
    top: 4rem;
  }
  .social-icon a {
    margin: 0 1rem;
  }
  section .creative .images {
    left: 0rem;
    opacity: 0.75;
  }
  section .creative .images .img1 {
    opacity: 0;
  }
  .container-rectangle2 {
    left: 12rem;
  }
  section .team .col-text {
    margin: 6rem auto auto 2rem;
  }
  .footer .contentBox {
    width: 95vw;
  }
  .footer .contentBox .mailCol {
    display: flex;
    justify-content: center;
  }
  .footer .contentBox .addressCol {
    display: flex;
    justify-content: center;
  }
  .footer .contentBox .col {
    margin-bottom: 2rem;
  }
  .footer .addressCol img {
    width: 100%;
    /* height: 100%; */
  }
}
@media only screen and (max-width: 750px) {
  .services .row .col-text {
    margin-left: 0;
    display: flex;
    align-items: center !important;
  }
}
@media (max-width: 790px) {
  section .gallery .row .imgContainer {
    display: none;
  }
  section .gallery .col-text {
    margin: 4rem 70rem 0 3rem;
  }
  .slideshow-container {
    display: block;
  }
  .slideshow-container {
    margin: 3rem auto !important;
    /* width: 40rem !important; */
    width: auto !important;
    height: 30rem !important;
  }
  img {
    height: 100% !important;
  }
  .footer img {
    height: fit-content !important;
  }
}
@media (max-width: 650px) {
  .banner .mainTitle {
    top: 3em;
  }
  section .creative .col-text,
  section .team .col-text,
  section .gallery .col-text {
    margin: 4rem 70rem 0 5rem;
  }
  section .gallery .col-text {
    margin: 4rem 70rem 0 2rem !important;
  }
  section .creative .col-text h2,
  section .team .col-text h2,
  section .gallery .col-text h2,
  section .chooseUs .col-text h2 {
    font-size: 3rem;
  }
  section .creative .col-text .separator {
    width: 9rem;
  }
  section .creative .col-text p,
  section .gallery .col-text p {
    font-size: 1.2rem;
  }
  section .creative .images {
    left: -10rem;
    opacity: 0.75;
  }
  .container-rectangle2 {
    left: 0rem;
  }
  section .creative .col-text .btn {
    z-index: 50;
  }

  section .chooseUs .col-text .contentBox {
    flex-direction: column;
  }
  section .chooseUs .col-text .contentBox .textBox {
    width: 100vw;
    text-align: justify;
    padding-right: 2.5rem !important;
  }
  section .chooseUs {
    width: fit-content;
  }
  section .chooseUs .row .col-text {
    display: block;
  }
  section .chooseUs .col-text h2 {
    font-size: 2.75rem;
    margin-left: 1.75rem !important;
  }
  section .chooseUs .col-text .contentBox {
    margin-left: 1rem;
  }
}
@media (max-width: 550px) {
  .banner .mainTitle {
    top: 4em;
  }
  .banner .mainTitle h2 {
    font-size: 3rem;
    margin-bottom: 4rem;
  }
  .banner .mainTitle p {
    font-size: 1.5rem;
  }
  #myBtn {
    bottom: 1.5rem;
  }
  .container-large {
    width: fit-content;
    margin: 0;
    padding: 0;
  }
  .menuToggle {
    margin-top: 0rem;
  }
  section .creative {
    height: 125vh;
  }
  .fixer {
    height: 125vh;
  }
  section .team .col-text {
    margin: 6rem auto -3rem 2rem;
  }
  section .gallery {
    height: fit-content;
  }
  section .gallery .row .imgContainer {
    display: none;
  }
  section .gallery .col-text {
    width: 16rem !important;
    margin-bottom: 3rem!;
  }
  section .gallery .col-text .btn {
    margin-bottom: 3rem !important;
  }
  .testimonials .col1 .h2-title {
    text-align: center;
    width: 15rem;
    /* margin: auto; */
  }
  .testimonials .col1 .quotes {
    margin: auto;
    width: 20rem;
  }
}
@media (max-width: 400px) {
  section .banner {
    height: 170vh;
  }
  section .creative .col-text {
    margin: 3rem 70rem 0 3rem;
  }
  section .creative .col-text h2 {
    font-size: 2.85rem;
  }
  section .creative .col-text .separator {
    width: 9rem;
  }
  section .creative .col-text p {
    font-size: 1.2rem;
  }
  .slideshow-container {
    height: 25rem !important;
  }
  .testimonials .col1 .quotes {
    margin: auto;
    width: 15rem;
  }
  .social .iconBox {
    margin: 1.5rem 1.5rem;
  }
}
