/* Fonts */
@font-face {
  font-family: Lato;
  src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: Lato;
  src: url(../fonts/Lato-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: Lato-ligth;
  src: url(../fonts/Lato-Light.ttf);
  font-weight: 250;
}
@font-face {
  font-family: Lato-black;
  src: url(../fonts/Lato-Black.ttf);
  font-weight: 600;
}
* {
  font-family: Lato;
  font-family: Lato-ligth;
  font-family: Lato-black;
}
/* Fonts */
body,
html {
  width: 100vw !important;
  max-width: 100vw;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  scroll-behavior: smooth;
  scrollbar-width: none;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

:root {
  --clr-primary-1: #fc9e20;
  --clr-primary-2: #fba419;
  --clr-primary-3: #e18e23;
  --clr-grey-1: #a3a3a3;
  --clr-grey-2: #989898;
  --clr-grey-transparent: #98989893;
  --clr-grey-3: #707070;
  --clr-grey-4: #2f2f2f;
  --clr-grey-5: #453c3c;
  --clr-grey-6: #3a3a3a;
  --clr-white-2: #f2efef;
  --clr-white-1: #fcfcfc;
  --clr-white: #ffffff;
  --clr-black: #000000;
  --clr-black-1: #040404;
  --clr-black-2: #171717;
  --ff-primary: "Lato-black", sans-serif;
  --ff-secondary: "Lato-ligth", cursive, sans-serif;
  --font-weight-heading: 500;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --radius-sm: 0.25rem;
  scroll-behavior: smooth;
}
.stop-scroll {
  overflow: hidden;
}
/* Btn */
.btn {
  width: 12rem;
  padding: 25px 0;
  background-color: var(--clr-primary-2);
  font-size: 1.3rem;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  line-height: 0;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.3s ease;
  border: none;
  text-align: center;
  color: var(--clr-white);
  border-radius: 40px;
  letter-spacing: 3px;
}
.btn:hover {
  color: var(--clr-white);
}
.btn-footer {
  background-color: var(--clr-h-txt);
  font-size: 0.7rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  transition: all 0.3s ease;
  border: none;
  text-align: center;
  padding: 28px 72px;
  color: var(--clr-primary);
}
.container-fluid {
  padding: 0;
  margin: 0;
}
.container-large {
  width: 1600px;
  margin: auto;
  padding: 0px;
}
/* back to top */
#myBtn {
  width: 3rem;
  height: 3rem;
  background: var(--clr-grey-transparent);
  border-radius: 1rem;
  right: 2.5rem;
  bottom: 4.5rem;
  z-index: 1000;
  display: none;
  font-size: 1.75rem;
  color: var(--clr-primary-1);
  position: fixed;
  text-align: center;
  line-height: 45px;
  cursor: pointer;
  border: none;
}
#myBtn:hover {
  background-color: var(--clr-grey-3);
  transform: scale(1.25);
  transition: ease-in-out 0.3s;
}
/* basic setup */
/* Header */
header {
  z-index: 10;
}
header a {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--clr-white);
}
header li {
  display: inline-block;
}
.header {
  position: relative;
  padding-top: 33px;
  padding-bottom: 33px;
}
.header .menu,
.header .menu1 {
  z-index: 10;
}
.header .menu a,
.menu.active,
.header .menuDiv a {
  color: var(--clr-white);
  font-size: 1.15rem;
  position: relative;
  text-decoration: none;
}
.header .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
.header .row .menuDiv {
  display: flex;
}
.header .row .menuDiv .col li a {
  margin: 0 1.5rem;
}
.header .row .menuDiv .align-self-end li a:last-child {
  margin-right: 3rem;
}
/* Menu Button  */
.mobile-menu {
  display: none;
}
.menu-button {
  z-index: 15;
  display: none;
  height: 30px;
  background-color: transparent;
  border: none;
  padding: 0;
}
.menu-button.active span {
  background-color: transparent;
  transition-delay: 0.2s;
}
.menu-button.active span:before {
  margin-top: 0;
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  transition-delay: 0s, 0.2s;
  background-color: var(--clr-primary-1);
  z-index: 15;
}
.menu-button.active span:after {
  margin-top: 0;
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition-delay: 0s, 0.2s;
  background-color: var(--clr-primary-1);
  z-index: 15;
}
.menu-button span {
  margin: 0 auto;
  position: relative;
  top: 10px;
  transition-duration: 0s;
  transition-delay: 0.2s;
}
.menu-button span:before,
.menu-button span:after {
  content: "";
  position: absolute;
}
.menu-button span:before {
  margin-top: -10px;
  transition-property: margin, transform;
  transition-duration: 0.2s;
  transition-delay: 0.2s, 0s;
}
.menu-button span:after {
  margin-top: 10px;
  transition-property: margin, transform;
  transition-duration: 0.2s;
  transition-delay: 0.2s, 0s;
}
.menu-button span,
.menu-button span:before,
.menu-button span:after {
  width: 35px;
  height: 3px;
  background-color: var(--clr-white);
  display: block;
}
/* Banner */
.banner {
  background: url(../images/banner.png);
  width: 100vw !important;
  height: 130vh;
  background-size: cover;
  background-position: center top;
  overflow: hidden;
}
.banner .mainTitle {
  position: absolute;
  top: 20em;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--clr-white);
}
.banner .mainTitle h2 {
  color: var(--clr-white);
  margin: 15rem 0 5rem 0;
  text-align: center;
  font-size: 6rem;
  text-transform: uppercase;
}
.banner .mainTitle p {
  font-size: 1.5rem;
  font-family: "Lato-light";
  text-align: center;
  margin-bottom: 5rem;
}
/* title */
.container-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-title .title {
  width: 40rem;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 2rem;
}
.container-title .title h2 {
  color: var(--clr-white);
  letter-spacing: -0.1rem;
  font-size: 5rem;
  font-weight: 900;
}
.container-title .title span {
  color: var(--clr-primary-2);
  font-size: 5rem;
}
.container-title .rectangle-line {
  border: 0.15rem solid var(--clr-grey-2);
  background-color: var(--clr-grey-2);
  width: 10rem;
  height: 0.05rem;
  position: absolute;
  margin: 0;
  top: 8.5rem;
}
/* social-icons */
.social-icons {
  width: fit-content;
  position: absolute;
  top: 10rem;
}
.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.social-icon a {
  width: 3.75rem;
  height: 3.75rem;
  display: inline-block;
  color: transparent;
  font-size: 2rem;
  border: var(--clr-white) solid 0.2rem;
  border-radius: 100%;
  text-align: center;
  margin: 0 1.5rem;
}
.social-icon ul {
  padding: 0;
}
.social-icon li {
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}
.social-icon li a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-icon li:hover a {
  opacity: 0.7;
}
.social-icon li i {
  color: var(--clr-white);
}
/* rectangle */
.container-rectangle .row {
  width: 100vw;
  height: 100vw;
  position: relative;
  top: -120rem;
  margin: 0;
  padding: 0;
}
.container-rectangle .rectangle {
  width: 100%;
  height: 100%;
  border: 15px solid var(--clr-primary-2);
  background-color: transparent;
  transform: rotate(45deg);
  overflow: hidden;
}
/* creative section */
section .creative {
  height: 95vh;
  width: 100vw;
  background-color: var(--clr-white);
  overflow: hidden;
  position: absolute;
}
section .creative .col-text {
  margin: 6rem 70rem 0 13.5rem;
  width: 24.2rem;
  height: 40rem;
  position: relative;
}
/* heading style */
.h2-title {
  color: var(--clr-black-2);
  text-transform: uppercase;
  font-family: Lato;
  font-size: 4rem;
  font-weight: 900;
  letter-spacing: 2px;
  line-height: 1;
  margin-bottom: 3rem;
}
/* span in primary color */
.span-Primary {
  color: var(--clr-primary-1);
}

.separator {
  border: 0.15rem solid var(--clr-primary-1);
  background-color: var(--clr-primary-1);
  width: 10rem;
  height: 0.05rem;
  margin: 2rem 0;
}
.p-title {
  color: var(--clr-black-1);
  font-family: Lato-light;
  font-size: 1.35rem;
  letter-spacing: 0.01rem;
  line-height: 1.8rem;
  margin-bottom: 3rem;
}
section .creative .images {
  width: 120rem;
  position: absolute;
  top: 8rem;
  left: 35rem;
  transform: rotate(-45deg);
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
}
section .creative .images .imgDiv {
  width: 38rem;
  /* height: 2rem; */
  /* overflow: hidden; */
  transform: rotate(45deg);
  margin: -3rem;
}
section .creative img {
  /* transform: rotate(45deg); */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* rectangle_2 */
.container-rectangle2 {
  position: absolute;
  top: -37rem;
  left: 45rem;
}
.container-rectangle2 .row {
  box-sizing: border-box;
  height: 720px;
  width: 720px;
  margin: 0;
  padding: 0;
}
.container-rectangle2 .rectangle {
  border: 27px solid var(--clr-primary-2);
  opacity: 0.49;
  background-color: transparent;
  transform: rotate(45deg);
  overflow: hidden;
}
/* **** FIXER **** */
.fixer {
  height: 95vh;
  width: 100vw;
  background-color: var(--clr-grey-2);
  overflow: hidden;
  /* position: relative; */
}

/* Team Section */
section .team {
  height: fit-content;
  width: 100vw;
  background-color: #2f2f2f;
  overflow: hidden;
  /* position: relative; */
}
section .team .col-text {
  margin: 6rem auto auto 13.5rem;
  width: 24.2rem;
  height: 40rem;
  /* position: relative; */
}
section .team .teamImg {
  margin: 6rem 0;
}
section .team .teamImg .row .col {
  margin: 0rem 2rem;
}
section .team .teamImg .row .col h2 {
  color: var(--clr-primary-1);
  font-family: Lato;
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 1rem;
}
section .team .teamImg .row .col p {
  color: var(--clr-grey-1);
  font-family: Lato;
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: -0.75rem;
}
section .team .teamImg .row {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
section .team .teamImg .imgDiv {
  display: flex;
  flex-direction: column;
}
/* Gallery section */
section .gallery {
  height: fit-content;
  width: 100vw;
  background-color: var(--clr-white);
  overflow: hidden;
  /* position: relative; */
}
section .gallery .row .col-text {
  margin: 6rem 0 0 12rem;
  width: 25rem;
  overflow: hidden;
}
section .gallery .row .imgContainer {
  width: 50rem !important;
  height: 48rem;
  margin: 6rem 0 0 0;
}
section .gallery .row .imgContainer .imgDiv3 {
  margin-left: 14.9rem;
  margin-bottom: 0;
}
section .gallery .row .imgContainer .imgDiv4 {
  margin-bottom: 3.6rem;
}
/* Slideshow */
.slideshow-container {
  display: none;
} /*Slideshow*/
/* Choose Us */
.chooseUs {
  height: fit-content;
  width: 100vw;
  background-color: var(--clr-grey-4);
  overflow: hidden;
  /* position: relative; */
}
.chooseUs .row {
  margin: 6rem 0 !important;
}
.chooseUs h2 {
  margin-left: 5rem;
}
.chooseUs .col-text .contentBox {
  display: flex;
  flex-direction: row;
  width: 32rem;
  margin: 3rem 0 3rem 5rem;
}
.chooseUs .col-text .contentBox .iconBox {
  width: 6rem;
  height: 6rem;
  margin-right: 2.5rem;
}
.chooseUs .fa {
  font-size: 5rem;
  color: var(--clr-primary-1);
}
.chooseUs .contentBox h3 {
  font-size: 1.35rem;
  text-transform: uppercase;
  font-family: "Lato";
  color: var(--clr-white);
}
.chooseUs .contentBox p {
  font-family: "Lato";
  color: var(--clr-white-2);
}
/* Services section */
.services {
  height: fit-content;
  width: 100vw;
  background-color: var(--clr-white);
  overflow: hidden;
}
.services .row {
  display: flex;
}
.services .row .btn {
  margin-bottom: 2rem;
}
.services .row .col-text {
  margin: 6rem 10rem auto;
}
.services .row .col-text h2 {
  text-align: right;
}
.services .row .col-text p {
  text-align: right;
  width: 16rem;
}
.services .row .imgDiv {
  background: url(../images/services.png);
  height: fit-content;
  width: fit-content;
  background-size: cover;
}
.services .row .contentBox {
  background: var(--clr-grey-4);
  width: 100%;
  margin: 6.5rem 25rem 6rem 0;
  z-index: 3 !important;
  transform: translate(-9rem);
}
.services .row .contentBox .contentItem {
  padding: 0 3rem;
}
.services .row .contentBox .fa {
  font-size: 4.5rem;
  border: 0.2rem solid var(--clr-white);
  border-radius: 50%;
  padding: 1rem;
  color: var(--clr-white);
  margin: 1.75rem;
  font-weight: 600;
}
.services .row .contentBox h3 {
  font-size: 1.35rem;
  font-family: "Lato";
  font-weight: 600;
  color: var(--clr-primary-1);
  text-transform: uppercase;
}
.services .contentBox p {
  width: 20rem;
  text-align: center;
  font-family: "Lato";
  color: var(--clr-grey-2);
  margin-bottom: 1.75rem;
}
.services .col-md-4 {
  flex: 1 0 auto;
}

/* Testimonials section */
.testimonials {
  height: fit-content;
  width: 100vw;
  background-color: var(--clr-white);
  overflow: hidden;
  font-family: "Lato";
}
.testimonials .col1 {
  background-color: var(--clr-grey-4);
  color: var(--clr-white-1);
}
.testimonials .h2-title {
  margin: 5rem 8.5rem 4rem 0;
  color: var(--clr-white-2);
}
/* .testimonials .quotes {
  margin-right: 5rem !important;
} */
.testimonials .iconBox {
  font-size: 2.5rem;
  margin: 0 1rem 0 -1rem;
}
.testimonials .text-quote {
  width: 23rem;
}
.testimonials .text-quote p {
  color: var(--clr-grey-1);
  font-family: "Lato";
  font-size: 1.25rem;
}
.testimonials .quoteAuthor {
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
  font-weight: 1500;
  text-transform: uppercase;
  margin: -1rem 0 6.5rem 0;
}
.testimonials .imgBox {
  background: url(../images/client.png);
  background-size: cover;
}
.testimonials .col-md-4 {
  flex: 1 0 auto !important;
}
.testimonials .col3 {
  background-color: var(--clr-white);
}
.testimonials .col3 .iconBox {
  margin-top: 5rem;
  font-size: 5rem;
  color: var(--clr-primary-1);
}
.testimonials .col3 .p-title {
  margin-top: 3rem;
  width: 15rem;
  font-size: 1.5rem;
  color: var(--clr-black);
  font-weight: 400 !important;
}
.testimonials .col3 .p-title span {
  font-family: "Lato";
  font-weight: 700 !important;
}
