/* Fonts */
@font-face {
  font-family: Lato;
  src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: Lato;
  src: url(../fonts/Lato-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: Lato-ligth;
  src: url(../fonts/Lato-Light.ttf);
  font-weight: 250;
}
@font-face {
  font-family: Lato-black;
  src: url(../fonts/Lato-Black.ttf);
  font-weight: 600;
}
* {
  font-family: Lato;
  font-family: Lato-ligth;
  font-family: Lato-black;
}
/* Fonts */
body,
html {
  max-width: 100vw;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

:root {
  --clr-primary-1: #fc9e20;
  --clr-primary-2: #fba419;
  --clr-primary-3: #e18e23;
  --clr-grey-1: #a3a3a3;
  --clr-grey-2: #989898;
  --clr-grey-3: #707070;
  --clr-grey-4: #2f2f2f;
  --clr-grey-5: #453c3c;
  --clr-grey-6: #3a3a3a;
  --clr-white-2: #f2efef;
  --clr-white-1: #fcfcfc;
  --clr-white: #ffffff;
  --clr-black: #000000;
  --clr-black-1: #040404;
  --clr-black-2: #171717;
  --ff-primary: "Lato-black", sans-serif;
  --ff-secondary: "Lato-ligth", cursive, sans-serif;
  --font-weight-heading: 500;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --radius-sm: 0.25rem;
  scroll-behavior: smooth;
}
/* Btn */
.btn {
  /* font-size: 16px; */
  height: 51px;
  width: 182px;
  background-color: var(--clr-primary-2);
  font-size: 16px;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  line-height: 0;
  letter-spacing: 25px;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.3s ease;
  border: none;
  text-align: center;
  padding: 28px 72px;
  color: var(--clr-white);
  background-color: var(--clr-h-txt-pink);
  border-radius: 40px;
}
.btn:hover {
  color: var(--clr-white);
}
.btn-footer {
  background-color: var(--clr-h-txt);
  font-size: 0.7rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  transition: all 0.3s ease;
  border: none;
  text-align: center;
  padding: 28px 72px;
  color: var(--clr-primary);
}
.container-large {
  width: 1602px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 0;
  margin-left: 0;
}
/* HEADER */
header a {
  text-transform: uppercase;
}
header li {
  display: inline-block;
  margin-right: 46px;
}
.header {
  position: relative;
  padding-top: 33px;
  padding-bottom: 33px;
}
.header .menu {
  z-index: 999;
}
.header .menu li:nth-child(1),
.header .menu li:nth-child(2),
.header .menu li:nth-child(3) {
  float: left;
}
.header .menu li:nth-child(4),
.header .menu li:nth-child(5),
.header .menu li:nth-child(6) {
  float: right;
}
.header .menu a,
.menu.active {
  color: var(--clr-black-1);
  font-size: 14px;
  position: relative;
  text-decoration: none;
}
.header .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
/* Menu Button  */
.menu-button {
  display: none;
  height: 30px;
  background-color: transparent;
  border: none;
  padding: 0;
  /* margin-top: -10px; */
}
.menu-button.active span {
  background-color: transparent;
  transition-delay: 0.2s;
}
.menu-button.active span:before {
  margin-top: 0;
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  transition-delay: 0s, 0.2s;
}
.menu-button.active span:after {
  margin-top: 0;
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition-delay: 0s, 0.2s;
}
.menu-button span {
  margin: 0 auto;
  position: relative;
  top: 10px;
  transition-duration: 0s;
  transition-delay: 0.2s;
}
.menu-button span:before,
.menu-button span:after {
  content: "";
  position: absolute;
}
.menu-button span:before {
  margin-top: -10px;
  transition-property: margin, transform;
  transition-duration: 0.2s;
  transition-delay: 0.2s, 0s;
}
.menu-button span:after {
  margin-top: 10px;
  transition-property: margin, transform;
  transition-duration: 0.2s;
  transition-delay: 0.2s, 0s;
}
.menu-button span,
.menu-button span:before,
.menu-button span:after {
  width: 35px;
  height: 3px;
  background-color: var(--clr-black-1);
  display: block;
}
.mobile-menu {
  position: inherit;
}
.mobile-menu .menu .children:before,
.mobile-menu .menu .mega-menu-top:before {
  top: 9px;
}
/* first section */
.container-rectangle .row {
  display: flex;
  justify-content: center;
}
.rectangle {
  height: 679px;
  width: 679px;
  border: 15px solid var(--clr-primary-2);
  background-color: transparent;
  transform: rotate(45deg);
  position: fixed;
  top: -30rem;
  margin: 0;
}
/* title */
.container-title .title {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0rem;
}
.container-title .title h2 {
  letter-spacing: -0.25rem;
  font-size: 4rem;
  font-weight: 900;
}
.container-title .title span {
  color: var(--clr-primary-2);
  font-size: 5rem;
}
.container-title .rectangle-line {
  border: 0.2rem solid var(--clr-grey-2);
  width: 7rem;
  position: fixed;
  top: 6.1rem;
}
/* social-icons */
.social-icon {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  padding: 0;
}
.social-icon a {
  width: 3rem;
  height: 3rem;
  display: inline-block;
  color: var(--clr-white);
  font-size: 2rem;
  border: var(--clr-grey-2) solid 0.2rem;
  border-radius: 100%;
  text-align: center;
  margin: 0 0.25rem;
}
.social-icon ul {
  padding: 0;
}
.social-icon li {
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}
.social-icon li:hover a {
  opacity: 0.7;
}
.social-icon li i {
  color: var(--clr-grey-2);
}

/* back to top */
#myBtn {
  width: 45px;
  height: 45px;
  background-color: var(--clr-h-txt);
  right: 40px;
  bottom: 70px;
  z-index: 9;
  display: none;
  font-size: 24px;
  color: var(--clr-white);
  position: fixed;
  text-align: center;
  line-height: 45px;
  cursor: pointer;
  border: none;
}
#myBtn:hover {
  background-color: var(--clr-secondary);
}
